---
services:
  datadog:
    container_name: datadog
    image: gcr.io/datadoghq/agent:7
    environment:
      DD_API_KEY: "{{ .Env.DATADOG_API_KEY }}"
      DD_SITE: datadoghq.com
      DD_PROCESS_AGENT_ENABLED: "true"
      DD_LOGS_ENABLED: "true"
      DD_LOGS_CONFIG_CONTAINER_COLLECT_ALL: "true"
      DD_SYSTEM_PROBE_ENABLED: "true"
      DD_APM_ENABLED: "true"
      DD_LOGS_CONFIG_USE_HTTP: "true"
    cap_add:
      - SYS_ADMIN
      - SYS_RESOURCE
      - SYS_PTRACE
      - NET_ADMIN
      - NET_BROADCAST
      - NET_RAW
      - IPC_LOCK
      - CHOWN
    security_opt:
      - apparmor:unconfined
    volumes:
      - /sys/fs/cgroup/:/host/sys/fs/cgroup:ro
      - /sys/kernel/debug:/sys/kernel/debug
      - /etc/passwd:/etc/passwd:ro
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - /opt/datadog-agent/run:/opt/datadog-agent/run:rw
      - /proc/:/host/proc/:ro
  borgmatic:
    image: b3vis/borgmatic
    container_name: borgmatic
    volumes:
      - /home/debian/servers:/mnt/servers:ro,z
      - ./config/borg/config.yaml:/etc/borgmatic.d/config.yaml
      - ./config/borg/crontab.txt:/etc/borgmatic.d/crontab.txt
      - ./config/borg/known_hosts:/root/.ssh/known_hosts
      - ./config/borg/key:/root/.ssh/key
      - ./config/borg/key_append_only:/root/.ssh/key_append_only
      - borg-cache:/root/.cache/borg
    environment:
      TZ: America/Los_Angeles
      BORG_PASSPHRASE: "{{ .Env.BORG_PASSPHRASE }}"
  minecraft_survival_prod:
    container_name: minecraft_survival_prod
    image: ghcr.io/shepherdjerred-minecraft/paper:1.19.3
    tty: true
    stdin_open: true
    volumes:
      - /home/debian/servers/survival/prod:/home/minecraft/server:z
    ports:
      - 25565:25565/tcp
      - 25565:25565/udp
    command: -Xmx8G -Dlog4j.configurationFile=log4j2.xml -jar "../paper.jar"
    restart: unless-stopped
  minecraft_survival_beta:
    container_name: minecraft_survival_beta
    image: ghcr.io/shepherdjerred-minecraft/paper:1.19.3
    tty: true
    stdin_open: true
    volumes:
      - /home/debian/servers/survival/beta:/home/minecraft/server:z
    ports:
      - 25575:25565/tcp
      - 25575:25565/udp
    command: -Xmx2G -jar "../paper.jar"
    restart: "no"
  minecraft_creative_prod:
    container_name: minecraft_creative_prod
    image: ghcr.io/shepherdjerred-minecraft/paper:1.19.3
    tty: true
    stdin_open: true
    volumes:
      - /home/debian/servers/creative/prod:/home/minecraft/server:z
    ports:
      - 25566:25565/tcp
      - 25566:25565/udp
    command: -Xmx1G -jar "../paper.jar"
    restart: "no"
  minecraft_creative_beta:
    container_name: minecraft_creative_beta
    image: ghcr.io/shepherdjerred-minecraft/paper:1.19.3
    tty: true
    stdin_open: true
    volumes:
      - /home/debian/servers/creative/beta:/home/minecraft/server:z
    ports:
      - 25576:25565/tcp
      - 25576:25565/udp
    command: -Xmx1G -jar "../paper.jar"
    restart: "no"
  caddy:
    container_name: caddy
    build: config/caddy
    environment:
      AWS_ACCESS_KEY_ID: "{{ .Env.AWS_ACCESS_KEY_ID }}"
      AWS_SECRET_ACCESS_KEY: "{{ .Env.AWS_SECRET_ACCESS_KEY }}"
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - caddy-config:/config:Z
      - caddy-data:/data:Z
      - ./site:/site:ro,Z
      - /home/debian/servers/survival/prod/plugins/dynmap/web:/livemap:ro,Z
      - ./docs:/docs:ro,Z
      - ./config/caddy/Caddyfile:/etc/caddy/Caddyfile:ro,Z
    restart: unless-stopped
volumes:
  caddy-config:
  caddy-data:
  borg-cache:
version: "3.8"
